.curseclient
backups/
debug/
fancymenu_data/
journeymap/
local/ftbchunks/data/
logs/
minecraftinstance.json
mods/
paintings/
patchouli_data.json
realms_persistence.json
resourcepacks/
saves/
servers.dat
usercache.json
usernamecache.json
*.bak
emojiful/
crash-reports/